{% load static %}
{% load i18n %}


<table data-js="dataTables" class="table table-striped table-bordered table-hover" data-lang="{% url 'tax_invoice:url_translate_datables_js' %}">
  <thead>
    <tr class="text-sm-center">      
      <th>{% trans "Name Contract" %}</th>
      <th>{% trans "Provider Name" %}</th>
      <th>{% trans "CNPJ" %}</th>                      
      <th>{% trans "Pay Day" %}</th>       
      <th>{% trans "Options" %}</th>                                         
    </tr>
  </thead>                  
  <tbody>
    {% for contract in contracts %}
    <tr class="text-sm-center">      
      <td>{{ contract.name }}</td>
      <td>{{ contract.provider.name }}</td>                                
      <td class="cnpj">{{ contract.provider.cnpj }}</td>                                                                       
      <td>{{ contract.pay_day|default_if_none:"" }}</td>                                                                 
      <td class="text-center"> 
        <a href="{% url 'tax_invoice:url_tax_invoice_create' contract.slug %}"><span class='badge badge-info'>{% trans "register" %}</span></a>       
        <a href="{% url 'tax_invoice:url_tax_invoices_list' contract.slug %}"><span class='badge badge-secondary'>{% trans "tax" %}</span></a>       
      </td>                      
    </tr>                 
    {% endfor %}   
  </tbody>                  
</table>                
