{% load static %}
{% load i18n %}


<table class="table table-striped table-bordered table-hover">  
  <div class="float-right">
    {% trans 'Showing' %} {{ providers.start_index }}-{{ providers.end_index }} of {{ providers.paginator.count }} 
  </div>
  <thead>
    <tr class="text-sm-center">
      <th>
        <div class="form-check-arae-controls">
            <!-- Form Check -->
            <label for="checkbox_main" class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" data-js="check_all" id="checkbox_main"><span class="form-check-label">{% trans "Choose" %}</span>
            </label>
        </div>            
      </th>
      <th>{% trans "Name" %}</th>
      <th>{% trans "Fantasy name" %}</th>
      <th>{% trans "CNPJ" %}</th>                      
      <th>{% trans "Email" %}</th>       
      <th>{% trans "Options" %}</th>                                         
    </tr>
  </thead>                  
  <tbody>
    {% for provider in providers %}
    <tr class="text-sm-center">
      <td><div class="form-check-arae-controls">
        <label for="checkbox_{{ provider.slug }}" class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="check_id" value="{{ provider.slug }}" id="checkbox_{{ provider.slug }}">        
        </label>
        </div></td>
      <td>{{ provider.name }}</td>
      <td>{{ provider.fantasy_name }}</td>                                
      <td class="cnpj">{{ provider.cnpj }}</td>                                                                       
      <td>{{ provider.email }}</td>                                                                 
      <td class="text-center"> 
        <a href="{% url 'provider:url_provider_edit' provider.slug %}"><span class='badge badge-warning'>{% trans "edit" %}</span></a>
        <a href="{% url 'provider:url_provider_detail' provider.slug %}"><span class='badge badge-info'>{% trans "details" %}</span></a>                                                                          
        <a href="" data-url="{% url 'provider:url_provider_delete' provider.slug %}" id="button_modal_{{ provider.slug }}" class='badge badge-danger' data-js="link_delete">{% trans "delete" %}</a>
        </form>
      </td>                      
    </tr>   
    {% empty %}
      <tr>
        <td colspan="6" class="text-center bg-warning">{% trans 'No results' %}</td>
      </tr>                                                     
    {% endfor %}   
  </tbody>
  <tfoot>
    <tr>
        <td colspan="7">
            <ul class="pagination float-right mt-30">
                <div class="click_page">
                    {% if providers.has_other_pages %}
                        <ul class="pagination float-right mt-30" >            
                            {% if providers.has_previous %}
                                <li class="page-item"><a class="page-link page_number" href="?page={{ providers.previous_page_number }}">&laquo;</a></li>
                            {% else %}
                                <li class="page-item">&laquo;</li>
                            {% endif %}
                            
                            {% for i in providers.paginator.page_range %}
                                {% if providers.number == i %}
                                    <li class="active page-item">{{ i }}</li>
                                {% else %}
                                    <li class="page-item"><a class="page-link page_number" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            
                            {% if providers.has_next %}
                                <li class="page-item"><a class="page-link page_number" href="?page={{ providers.next_page_number }}">&raquo;</a></li>
                            {% else %}
                                <li class="page-item">&raquo;</span></li>
                            {% endif %}
                        </ul>            
                    {% endif %}                                
                </div>
            </ul>
        </td>
    </tr>                
  </tfoot>                    
</table>                
