{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}


{% block content %}
<div class="col-lg-12 mt-5">
    {% include 'default/_messages.html' %}
    {% include 'contract/_form_errors.html' %}  
    <div class="ibox bg-boxshadow"> 
        <div class="ibox-title mb-30">
            <h6 class="font-weight-bold text-primary"> {{ title }}</h6>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-4">
                    <a href="{% url 'contract:url_contracts_list'%}" class="btn btn-info float-left">{{ list_all }}</a>
                </div>
                <div class="col-sm-4">      
                {% if contract.image %}
                 <!-- Thumb Title -->
                 <div class="contact-thumb-title">
                    <img src="{{ contract.image.url }}" alt="" style="width:100px">                    
                </div>                
                
                {% else %}    <h3><strong>{{ contract.name }}</strong></h3>
                {% endif %}
                </div>
                <div class="col-sm-4">                    
                    <span class="float-right">
                        <a href="#">
                            <button type="button" data-toggle="modal" data-target="#modal-upload-contract" class="btn btn-warning">{{ attachments }}
                            </button>
                        </a>
                    </span>
                    <span class="mr-1 float-right">
                        <a href="{% url 'annotation:url_annotations_list' contract.slug %}">
                            <button type="button" class="btn btn-secondary">{{ annotations }}
                            </button>
                        </a>
                    </span>
                    <span class="mr-1 float-right">
                        <a href="{% url 'contract:url_contract_edit' contract.slug %}">
                            <button type="button" class="btn btn-success">{{ edit }}
                            </button>
                        </a>
                    </span>
                </div>
            </div>
            </br>
            <div class="col-sm-12">
                <table class="table table-user-information">
                    <tbody>
                        <tr>
                            <th class="text-right">{% trans "Name" %}</th>
                            <td>{{ contract.name }}</td>
                        </tr>
                        <tr>
                            <th class="text-right">{% trans "Object" %}</th>
                            <td>{{ contract.object|safe }}</td>
                        </tr>
                        <tr>
                            <th class="text-right">{% trans "Provider" %}</th>
                            <td>{{ contract.provider }}</td>
                        </tr>
                        <tr>
                            <th class="text-right">{% trans "Company" %}</th>
                            <td > {% for cc in companies %}
                                    {{ cc.name }} - <span class="cnpj">{{ cc.cnpj }}</span> <br/>
                                    {% endfor %}
                            </td>
                        </tr> 
                        <tr>
                            <th class="text-right">{% trans "Type" %}</th>                       
                            <td>{{ contract.type }}</td>                       
                        </tr>
                        <tr>
                            <th class="text-right">{% trans "Value" %}</th>
                            <td>{{ contract.value }}</td>
                        </tr> 
                        <tr>
                            <th class="text-right">{% trans "Date Start" %}</th>
                            <td>{{ contract.dt_start}}</td>
                        </tr>
                        <tr>
                            <th class="text-right">{% trans "Date End" %}</th>
                            <td>{{ contract.dt_end }}</td>
                        </tr>
                        <tr>
                            <th class="text-right">{% trans "Date Renovation" %}</th>
                            <td>{{ contract.dt_renovation }}</td>
                        </tr>                                                                    
                        <tr>
                            <th class="text-right">{% trans "Pay Day" %}</th>
                            <td>{{ contract.pay_day }}</td>
                        </tr>  
                        <tr>
                            <th class="text-right">{% trans "Number of Month" %}</th>
                            <td>{{ contract.number_months }}</td>
                        </tr>  
                        <tr>
                            <th class="text-right">{% trans "Value Month" %}</th>
                            <td>{{ contract.value_month }}</td>
                        </tr> 
                        <tr>
                            <th class="text-right">{% trans "Number Contract" %}</th>
                            <td>{{ contract.number_contract }}</td>
                        </tr>  
                        <tr>
                            <th class="text-right">{% trans "Status" %}</th>
                            <td>{{ contract.status }}</td>
                        </tr> 
                        <tr>
                            <th class="text-right">{% trans "Date Conclusion" %}</th>
                            <td>{{ contract.dt_conclusion|default_if_none:"" }}</td>
                        </tr>                                             
                        <tr>
                            <th class="text-right">{% trans "Description" %}</th>
                            <td>{{ contract.description|safe }}</td>
                        </tr> 
                        <tr>
                            <th class="text-right">{% trans "Created by" %}:</th>
                            <td>{{ contract.user_created.get_full_name }} - {{ contract.created_at }}</td>
                        </tr>                    
                        <tr>
                            <th class="text-right">{% trans "Updated by" %}</th>
                            <td>{{ contract.user_updated.get_full_name }} - {{ contract.updated_at }}</td>
                        </tr>   
                                                            
                    </tbody>
                </table>
                {% include 'contract/_modal_upload_contract.html' %}
                <div class="row">
                    {% include 'contract/_table_uploads.html' %}
                    {% include 'default/_modal_delete.html' %}
                </div>
                
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block js %}
<script src="{% static 'contract/default/js/jquery.mask.min.js'%}"></script>
<script src="{% static 'contract/default/js/jquery_mask.js'%}"></script>

<script src="{% static 'company/default/js/checkbox_delete_all.js'%}"></script>

{% endblock js %}
