{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{% block css %}
  <link href="{% static 'contract/js/plugins-js/datepicker/css/jquery-ui.min.css'%}" rel="stylesheet">
  <link href="{% static 'contract/js/plugins-js/datepicker/css/jquery-ui.structure.min.css'%}" rel="stylesheet">  
  <link href="{% static 'contract/js/plugins-js/datepicker/css/jquery-ui.theme.min.css'%}" rel="stylesheet">    
{% endblock css %}

{% block content %}
<div class="col-lg-12 mt-5">
    {% include 'default/_messages.html' %}
    {% include 'contract/_form_errors.html' %}  
    
            
            
        <div class="col-sm-12">
            <div class="product--item-arae bg-boxshadow">
                <div class="ibox-title mb-30">
                    <h6 class="font-weight-bold text-primary"> {{ title }}</h6>
                </div>
                <!-- Media -->
                <div class="media align-items-center py-3 mb-4">
                    {% if contract.image %}
                    <!-- Thumb Title -->
                        <div class="contact-thumb-title">
                        <img src="{{ contract.image.url }}" alt="" style="width:100px">                    
                        </div>
                    {% else %}    
                        <img src="#" alt="" style="width:100px">                           
                    {% endif %}
                    <!-- Media Body -->
                    <div class="media-body ml-4">
                        <h4 class="mb-15">{{ contract.name }}</h4>                                                                                
                        <a href="{% url 'contract:url_contract_edit' contract.slug %}"><button type="button" class="btn btn-success btn-sm mb-15">{{ edit }}</button></a>
                        <a href="#"><button type="button" data-toggle="modal" data-target="#modal-upload-contract" class="btn btn-warning btn-sm mb-15">{{ attachments }}</button></a>
                        <a href="#"><button type="button" data-toggle="modal" data-target="#modal-nimbi-contract" class="btn btn-primary btn-sm mb-15">{{ nimbi_alias }}</button></a>
                        <a href="#"><button type="button" data-toggle="modal" data-target="#modal-contact-provider" class="btn btn-default btn-sm mb-15">{{ contact_alias }}</button></a>
                        <!-- <a href="{% url 'annotation:url_annotations_list' contract.slug %}"><button type="button" class="btn btn-secondary btn-sm mb-15">{{ annotations }}</button></a> -->
                        {% if contract.status == 'Ativo' %}
                            <a href="{% url 'contract:url_contracts_list'%}" class="btn btn-info btn-sm mb-15">{{ list_contracts_actives }}</a>
                        {% else %}
                            <a href="{% url 'contract:url_contracts_list_inactives'%}" class="btn btn-info btn-sm mb-15">{{ list_contracts_inactives }}</a>
                        {% endif %}
                    </div>
                </div>

                <!-- Nav Tabs -->
                <div class="nav-tabs-top">
                    <ul class="nav nav-tabs">                        
                        <!-- Nav Item -->
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#item-description">{% trans "Details" %}</a>
                        </li>
                        <!-- Nav Item -->
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#item-discounts">{% trans "Attachments" %}</a>
                        </li>
                        <!-- Nav Item -->
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#item-images">{% trans "Nimbi" %}</a>
                        </li>
                        <!-- Nav Item -->
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#item-contacts">{% trans "Contacts" %}</a>
                        </li>
                    </ul>

                    <!-- Tab Content -->
                    <div class="tab-content">                       

                        <!-- Item Description -->
                        <div class="tab-pane fade show active" id="item-description">
                            {% include 'contract/_table_details.html' %}
                        </div>

                        <!-- Item Discounts -->
                        <div class="tab-pane fade" id="item-discounts">
                            {% include 'contract/_table_uploads.html' %}
                            
                        </div>
                        <!-- / Discounts -->

                        <!-- Images -->
                        <div class="tab-pane fade" id="item-images">
                            {% include "contract/_table_nimbi.html"%}                    
                            
                        </div>
                        <!-- / Images -->

                        <!-- Contacts -->
                        <div class="tab-pane fade" id="item-contacts">
                            {% include "contract/_table_contact.html"%}                    
                            
                        </div>
                        <!-- / Contacts -->

                    </div>
                </div> 

                {% include 'contract/_modal_upload_contract.html' %}
                {% include 'contract/_modal_nimbi_contract.html' %} 
                {% include 'default/_modal_delete.html' %}
                {% include 'contract/_modal_contact_provider.html' %}
            </div>
        </div>
    
</div>

{% endblock content %}

{% block js %}
<script src="{% static 'contract/default/js/checkbox_delete_all.js'%}"></script>
<script src="{% static 'contract/js/only_number_input.js'%}"></script>

<script src="{% static 'contract/default/js/jquery.mask.min.js'%}"></script>
<script src="{% static 'contract/default/js/jquery_mask.js'%}"></script>


<!-- Dateepicker js -->
<script src="{% static 'contract/js/plugins-js/datepicker/js/jquery-ui.min.js'%}"></script>
<script src="{% static 'contract/js/datepicker.js'%}"></script>

{% endblock js %}
