{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}


{% block content %}
<div class="col-lg-12 mt-5">
    <div class="ibox bg-boxshadow"> 
        <div class="ibox-title mb-30">
            <h6 class="font-weight-bold text-primary"> {{ title }}</h6>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-4">
                    <a href="{% url 'company:url_departments_list'%}" class="btn btn-info float-left">{{ list_all }}</a>
                </div>
                <div class="col-sm-4">      
                {% if company.image %}
                 <!-- Thumb Title -->
                 <div class="contact-thumb-title">
                    <img src="{{ department.image.url }}" alt="" style="width:100px">                    
                </div>                
                
                {% else %}    <h3><strong>{{ department.name }}</strong></h3>
                {% endif %}
                </div>
                <div class="col-sm-4">
                    <span class="float-right">
                        <a href="{% url 'company:url_department_edit' department.slug %}">
                            <button type="button" class="btn btn-success">{{ edit }}
                            </button>
                        </a>
                    </span>
                </div>
            </div>
            </br>
            <div class="col-sm-12">
                <table class="table table-user-information">
                    <tbody>
                        <tr>
                            <th class="text-right">{% trans "Company" %}</th>
                            <td>{{ department.company }}</td>
                        </tr>
                        <tr>
                            <th class="text-right">{% trans "Code" %}</th>
                            <td>{{ department.cod }}</td>
                        </tr>
                        <tr>
                            <th class="text-right">{% trans "Name" %}</th>                       
                            <td >{{ department.name }}</td>                       
                        </tr>
                        <tr>
                            <th class="text-right">{% trans "Status" %}</th>
                            <td>{{ department.status }}</td>
                        </tr>
                        <tr>
                            <th class="text-right">{% trans "Branch" %}</th>
                            <td>{{ department.branch }}</td>
                        </tr>    
                        <tr>
                            <th class="text-right">{% trans "Plant" %}</th>
                            <td>{{ department.plant }}</td>
                        </tr>   
                        <tr>
                            <th class="text-right">{% trans "Abbreviation" %}</th>
                            <td>{{ department.abbreviation }}</td>
                        </tr> 
                        <tr>
                            <th class="text-right">{% trans "Description" %}</th>
                            <td>{{ department.description }}</td>
                        </tr>                                                                
                        <tr>
                            <th class="text-right">{% trans "Created by" %}:</th>
                            <td>{{ department.user_created.get_full_name }} - {{ department.created_at }}</td>
                        </tr>                    
                        <tr>
                            <th class="text-right">{% trans "Updated by" %}</th>
                            <td>{{ department.user_updated.get_full_name }} - {{ department.updated_at }}</td>
                        </tr>   
                                                            
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block js %}
<script src="{% static 'company/default/js/jquery.mask.min.js'%}"></script>
<script src="{% static 'company/default/js/jquery_mask.js'%}"></script>
{% endblock js %}