{% load static %}
{% load i18n %}


<table class="table table-striped table-bordered table-hover">  
  <div class="float-right">
    {% trans 'Showing' %} {{ service_types.start_index }}-{{ service_types.end_index }} of {{ service_types.paginator.count }} 
  </div>
  <thead>
    <tr class="text-sm-center">
      <th>
        <div class="form-check-arae-controls">
            <!-- Form Check -->
            <label for="checkbox_main" class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" data-js="check_all" id="checkbox_main"><span class="form-check-label">{% trans "Choose" %}</span>
            </label>
        </div>            
      </th>
      <th>{% trans "Name" %}</th>
      <th>{% trans "Description" %}</th>            
      <th>{% trans "Options" %}</th>                                         
    </tr>
  </thead>                  
  <tbody>
    {% for service_type in service_types %}
    <tr class="text-sm-center">     
      <td><div class="form-check-arae-controls">
        <label for="checkbox_{{ service_type.slug }}" class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="check_id" value="{{ service_type.slug }}" id="checkbox_{{ service_type.slug }}">        
        </label>
        </div></td>
      <td>{{ service_type.name }}</td>
      <td>{{ service_type.description }}</td>                                
                                                                     
      <td class="text-center"> 
        <a href="{% url 'service_type:url_service_type_edit' service_type.slug %}"><span class='badge badge-warning'>{% trans "edit" %}</span></a>
        <a href="{% url 'service_type:url_service_type_detail' service_type.slug %}"><span class='badge badge-info'>{% trans "details" %}</span></a>                                                                          
        <a href="" data-url="{% url 'service_type:url_service_type_delete' service_type.slug %}" id="button_modal_{{ service_type.slug }}" class='badge badge-danger' data-js="link_delete">{% trans "delete" %}</a>
        </form>
      </td>                      
    </tr>  
    {% empty %}
        <tr>
          <td colspan="4" class="text-center bg-warning">{% trans 'No results' %}</td>
        </tr>                                       
    {% endfor %}   
  </tbody>    
  <tfoot>
    <tr>
        <td colspan="7">
            <ul class="pagination float-right mt-30">
                <div class="click_page">
                    {% if service_types.has_other_pages %}
                        <ul class="pagination float-right mt-30" >            
                            {% if service_types.has_previous %}
                                <li class="page-item"><a class="page-link page_number" href="?page={{ service_types.previous_page_number }}">&laquo;</a></li>
                            {% else %}
                                <li class="page-item">&laquo;</li>
                            {% endif %}
                            
                            {% for i in service_types.paginator.page_range %}
                                {% if service_types.number == i %}
                                    <li class="active page-item">{{ i }}</li>
                                {% else %}
                                    <li class="page-item"><a class="page-link page_number" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            
                            {% if service_types.has_next %}
                                <li class="page-item"><a class="page-link page_number" href="?page={{ service_types.next_page_number }}">&raquo;</a></li>
                            {% else %}
                                <li class="page-item">&raquo;</span></li>
                            {% endif %}
                        </ul>            
                    {% endif %}                                
                </div>
            </ul>
        </td>
    </tr>                
  </tfoot>              
</table>                
