
<div class="row">
    <div class="col-12">
        <!-- Copywrite Text -->
        <div class="copywrite-text mt-50">
            <p>App &copy; 2021 created by <a href="#">MLX TECH</a></p>
            <!-- Nav Style -->
            <div class="footer--nav--style">
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Purchase</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

