{% load static %}
{% load i18n %}
<!-- Page Top Bar Area -->
<div class="page-top-bar-area top-menu d-flex align-items-center justify-content-between">
    <!-- Logo Trigger Area -->
    <div class="logo-trigger-area d-flex align-items-center">

        <!-- logo -->
        <a href="{% url 'core:home'%}" class="logo mr-0">
            <span class="big-logo">                       
                <img src="{% static 'core/img/vetorial.jpg'%}" alt="">
            </span>       
        </a>
    </div>

    <!-- User Meta -->
    <div class="user-meta-data d-flex align-items-center">
        <!-- Language -->
        <!-- {#% include 'core/_language.html' %} -->

        <!-- Notifications -->
        <!-- {#% include 'core/_notifications.html' %} -->

        <!-- Profile -->
        <div class="topbar-profile">
            <!-- Thumb -->
            <div class="user---thumb">                            
                <p class="text-white"><strong>{% trans 'User' %}: {{ request.user.first_name}}</strong></p>
            </div>
            <!-- Profile Data -->
            <div class="profile-data">               
                <!-- Profile List Data -->
                <a class="profile-list--data" href="{% url 'password_change'%}">
                    <!-- Profile icon -->
                    <div class="profile--list-icon">
                        <i class="fa fa-life-ring" aria-hidden="true"></i>
                    </div>
                    <!-- Profile Text -->
                    <div class="notification--list-body-text profile">
                        <h6>{% trans "Change Password" %}</h6>
                    </div>
                </a>
                <!-- Profile List Data -->
                <a class="profile-list--data" href="{% url 'logout'%}">
                    <!-- Profile icon -->
                    <div class="profile--list-icon">
                        <i class="fa fa-sign-out text-danger" aria-hidden="true"></i>
                    </div>
                    <!-- Profile Text -->
                    <div class="notification--list-body-text profile">
                        <h6>{% trans "Log Out" %}</h6>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

