{% load i18n %}
<!-- Navbar -->
<div class="classy-nav-container home-2 breakpoint-off">
    <!-- Classy Menu -->
    <nav class="classy-navbar justify-content-between" id="classytwo">

        <!-- Navbar Toggler -->
        <div class="classy-navbar-toggler">
            <span class="navbarToggler"><span></span><span></span><span></span></span>
        </div>

        <!-- Menu -->
        <div class="classy-menu">

            <!-- close btn -->
            <div class="classycloseIcon">
                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
            </div>

            <!-- Nav Start -->
            <div class="classynav">
                <ul id="nav">
                    <li><a href="#"><i class="icon_drive"></i> {% trans 'Register'%}</a>
                        <ul class="dropdown home-2">
                            <li><a href="{% url 'company:url_companies_list' %}">- {% trans 'Companies'%}</a></li>
                            <li><a href="{% url 'provider:url_providers_list' %}">- {% trans 'Providers'%}</a></li>
                            <li><a href="{% url 'service_type:url_service_types_list' %}">- {% trans 'Service Types'%}</a></li>
                            <li><a href="{% url 'status:url_status_list' %}">- {% trans 'Status'%}</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><i class="icon_mail_alt"></i> {% trans 'Contracts'%}</a>
                        <ul class="dropdown home-2">
                            <li><a href="{% url 'contract:url_contracts_list' %}">- {% trans 'List Contracts'%}</a></li>
                            <li><a href="{% url 'contract:url_contract_create' %}">- {% trans 'Create Contracts'%}</a></li>
                            <li><a href="{% url 'contract:url_contracts_list_inactives' %}">- {% trans 'Contracts Inactives'%}</a></li>                            
                        </ul>
                    </li>                               
                    <li><a href="#"><i class="icon_piechart"></i> {% trans 'Tax invoices'%}</a>
                        <ul class="dropdown home-2">
                            <li><a href="{% url 'tax_invoice:url_providers_choose' %}">- {% trans 'Create Tax Invoice'%}</a></li>
                            <li><a href="">- {% trans 'Search Tax invoices'%}</a></li>                            
                        </ul>
                    </li>                                                                
                    <li><a href="#"><i class="icon_document_alt"></i> Forms</a>
                        <ul class="dropdown home-2">
                            <li><a href="basic-form.html">- Basic Form</a></li>
                            <li><a href="wizard.html">- Wizard</a></li>
                            <li><a href="file-upload.html">- File Upload</a></li>
                            <li><a href="selects-and-tags.html">- Selects And Tags</a></li>
                            <li><a href="controls.html">- Controls</a></li>
                        </ul>
                    </li>                                
                </ul>

            </div>
            <!-- Nav End -->
        </div>
    </nav>
</div>

