<div class="row">
    <div class="col-lg-6">
        <!-- Ibox -->
        <div class="ibox bg-boxshadow mb-50">
            <!-- Title -->
            <div class="ibox-title mb-30">
                <h6>Polar Area Chart</h6>
            </div>
            <!-- Ibox Content -->
            <div class="ibox-content">
                <div class="text-center">
                    <canvas id="polarChart" height="160"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <!-- Ibox -->
        <div class="ibox bg-boxshadow mb-50">
            <!-- Title -->
            <div class="ibox-title mb-30">
                <h6>Pie Chart</h6>
            </div>
            <!-- Ibox Content -->
            <div class="ibox-content">
                <div>
                    <canvas id="pie" height="140"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
