<div class="row">
<div class="col-sm-6 col-lg-3">
    <!-- Widget Content -->
    <div class="widget-content-style rounded-0 one zoom-effect mb-30">
        <div class="row">
            <div class="col-4">
                <i class="fa fa-trophy fa-5x"></i>
            </div>
            <div class="col-8 text-right">
                <span> Total de Fornecedores </span>
                <!-- Icon -->
                <h2 class="widget-content--text">----</h2>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-6 col-lg-3">
    <!-- Widget Content -->
    <div class="widget-content-style rounded-0 two zoom-effect mb-30">
        <div class="row">
            <div class="col-4">
                <!-- Icon -->
                <div class="widget-style-two-icon">
                    <i class="fa fa-cloud fa-5x"></i>
                </div>
            </div>
            <div class="col-8 text-right">
                <!-- Text -->
                <div class="widget-style-two-text">
                    <p>Maior valor pago</p>
                    <h2 class="widget-content--text">---</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-6 col-lg-3">
    <!-- Widget Content -->
    <div class="widget-content-style lazur-bg zoom-effect mb-30">
        <div class="row">
            <div class="col-4">
                <i class="fa fa-envelope-o fa-5x"></i>
            </div>
            <div class="col-8 text-right">
                <span> Contratos a vencer</span>
                <h2 class="widget-content--text color-white">---</h2>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-6 col-lg-3">
    <!-- Widget Content -->
    <div class="widget-content-style yellow-bg zoom-effect mb-30">
        <div class="row">
            <div class="col-4">
                <i class="fa fa-music fa-5x"></i>
            </div>
            <div class="col-8 text-right">
                <span> Lançamentos no mês </span>
                <h2 class="widget-content--text color-white">---</h2>
            </div>
        </div>
    </div>
</div>
</div>
