{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}


{% block content %}
<div class="col-lg-12 mt-5">
    <div class="ibox bg-boxshadow"> 
        <div class="ibox-title mb-30">
            <h4 class="font-weight-bold text-primary"> {{ title }}</h4>
            <h6 class="font-weight-bold text-secondary"> {{ vars|first }} - {{ contract.name }}</h6>
        </div>
        <div class="ibox-content"> 
            <div class="row">
                <div class="col-sm-6">
                    <a href="{% url 'annotation:url_annotations_list' contract.slug %}" class="btn btn-info float-left">{{ list_all }}</a>
                </div>                
                <div class="col-sm-6">
                    <span class="float-right">
                        <a href="{% url 'annotation:url_annotation_edit' annotation.slug %}">
                            <button type="button" class="btn btn-success">{{ edit }}
                            </button>
                        </a>
                    </span>
                </div>
            </div>
            </br>           
            <div class="col-sm-12">
                <table class="table table-user-information">
                    <tbody>
                        <tr>
                            <th class="text-right">{% trans "Name" %}</th>
                            <td>{{ annotation.name }}</td>
                        </tr>
                        <tr>
                            <th class="text-right">{% trans "Description" %}</th>
                            <td>{{ annotation.description|safe }}</td>
                        </tr>                                                                                                             
                        
                        <tr>
                            <th class="text-right">{% trans "Created by" %}:</th>
                            <td>{{ annotation.user_created.get_full_name }} - {{ annotation.created_at }}</td>
                        </tr>                    
                        <tr>
                            <th class="text-right">{% trans "Updated by" %}</th>
                            <td>{{ annotation.user_updated.get_full_name }} - {{ annotation.updated_at }}</td>
                        </tr>   
                                                            
                    </tbody>
                </table>                
            </div>
        </div>       
    </div>
</div>

{% endblock content %}

{% block js %}
<script src="{% static 'annotation/default/js/jquery.mask.min.js'%}"></script>
<script src="{% static 'annotation/default/js/jquery_mask.js'%}"></script>
{% endblock js %}
