{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}



{% block content %}
<div class="card-body mt-5">
    <div class="float">
        {% include 'signup/_form_errors.html' %}  
        <p> {% trans "Change Password" %} <p>
            <form method="post" enctype="multipart/form-data" action="{% url 'signup:url_user_password_change' user.id %}">
                {% csrf_token %}
                {{ form_password_change|crispy }}                                
                <button type="submit" class="btn btn-primary register">{% trans "Change"%}</button>  
            </form>
    </div>
</div>
{% endblock content %}