{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}


{% block content %}

<div class="col-lg-12 mt-5">
    {% include 'default/_messages.html' %}
      <!-- Ibox -->
    <div class="ibox bg-boxshadow"> 
      <div class="ibox-title mb-30">
        <div class="row">
          <div class="col-sm-6">
            <h6 class="m-0 font-weight-bold text-primary">{{ title }}</h6>
          </div>
          <div class="col-sm-6">
            <span class="float-right">
              <a href="{% url 'signup:url_signup_create' %}">
                <button type="button" class="btn btn-success">{{ add }}
                </button>
              </a>
            </span>
          </div>
        </div>
        {% include 'signup/_search.html' %}              
      </div>                            


      <!-- Ibox Content -->
      <div class="ibox-content">
        <div class="table-responsive" id="table_list" data-url="{% url 'signup:url_signup_list' %}">
          {% include 'signup/_table.html' %}          
          <button data-url="{% url 'signup:url_signup_inactive_all' %}" data-js="click_checkbox" class="btn btn-danger" ><i class="fa fa-trash"></i>{% trans "Inactive" %}</button>
        </div>
        
      </div>
    </div><!--ibox bg-boxshadow-->
  </div><!--col-lg-12 -->


{% include 'default/_modal_delete.html' %}

{% include 'default/_modal_checkbox.html' %}

{% endblock content %}

{% block js %}   
<script src="{% static 'contract/default/js/checkbox_delete_all.js'%}"></script> 
<script type="text/javascript" src="{% static 'signup/js/js_dev/data_table_dev.js' %}"></script>    
{% endblock js %}